<div class="d-flex" style="width: 100%; height: 100vh;">
    <div class="m-auto text-center">
        <h1>ERROR 404</h1>
        <p>The page that you're looking for doesn't exist!</p>
        <a class="btn btn-sm btn-dark" href="/dashboard">Go to Dashboard</a>
    </div>
</div>