<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs') %>
    <style>body {background-color: #F8D7DA;}</style>
</head>

<body>
    <%-body %>
</body>
<%- include('../partials/script.ejs') %>
</html>